// @import './layout/navbar.scss';

body {
  font-family: 'Poppins', sans-serif !important;
  background: linear-gradient(hsl(190, 100%, 50%), hsl(250, 100%, 45%)) fixed;
}

.book-page-img {
  margin-top: 10%;
  margin-left: 10%;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  margin-right: 5%;
}

.main {
  background-color: white;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-radius: 15px;
}

.book-image {
  width: 130px;
  height: 200px;
}

.material-icons {
  vertical-align: -6px;
}

.book-item {
  &:hover {
    cursor: pointer;
  }
}

.icon-clear {
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &::selection {
    color: none;
    background: none;
  }
  
  /* For Mozilla Firefox */
  &::-moz-selection {
    color: none;
    background: none;
  }
}