// @import './layout/navbar.scss';

body {
  font-family: 'Poppins', sans-serif !important;
  // background: linear-gradient(hsl(190, 100%, 50%), hsl(250, 100%, 45%)) fixed;
  background-image: url('https://78.media.tumblr.com/c6a90a3f072c8f0110a38b59778995c7/tumblr_n6yi62QgqP1tacroio1_1280.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.divider {
  margin-bottom: 2%;
}

.book-page-img {
  margin-top: 10%;
  margin-left: 10%;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  margin-right: 5%;
}

.main {
  background-color: white;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-radius: 15px;
}

.book-image {
  width: 130px;
  height: 200px;
}

.material-icons {
  vertical-align: -6px;
}

.book-item {
  &:hover {
    cursor: pointer;
  }
}

.icon-clear {
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &::selection {
    color: none;
    background: none;
  }
  
  /* For Mozilla Firefox */
  &::-moz-selection {
    color: none;
    background: none;
  }
}